body {
    background-color: black;
}
/* Centralizando a Placa de musica que vai rolar */

.container {
    display: flex;
    align-items: center;
    background-color: gray;
    width: 95.4%;
    height: 50%;
    border-radius: 10px;
    padding: 30px;
}

.music {
    text-align: center;
    background-color: white;
    width: 50%;
    height: 50%;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px;
}
/*FIM*/

/*Div de texto no lado da musica */

.text-music {
    height: 50%;
    width: 50%;
    margin-left: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: gray;
    padding: 15px;
    border-radius: 20px;
    transition: background-color 1s ease-in-out;
    color: gray;
    cursor: pointer;
}

.text-music:hover {
    animation: text-music 1s forwards;
}

/*animação para fazer a div com que ela mude bem devagar */

@keyframes text-music {
    0% {
        background-color: gray;
        color: gray;
    }
    
    100% {
        background-color: blueviolet;
        color: white;
    }
}

.overlayDisplay {
    color: white;
    transition: opacity 1s ease-in-out;
}

.hidden {
    opacity: 0;
}

/* Tentar fazer a div overlay desaparecer com o mouse por cima dele */